:root {

    /* Fuentes */
    --font-family: "Epilogue", sans-serif;
    --font-size: 17px;
    --font-weight-regular: 500;
    --font-weight-bold: 700;

    /* colores de fuente */
    --almosth-white: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almosth-Black: hsl(0, 0%, 8%);

    /* colores de pagina */
    --color-primary:rgb(70, 130, 169);
    --color-secundari-01:rgb(145, 200, 228);
    --color-secundari-02:rgb(116, 155, 194);
    --color-base:rgb(246, 244, 235);
}